/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #494949;
  color: white;
}

section {
  margin: 10px;
}

h1 {
  font-size: 22px;
}


@media (max-width: 1000px) {
  page{
    padding: 100px 50px;
  }
}

@media (max-width: 400px) {
  page{
    padding: 100px 10px;
  }
}
